<div class="thumbnail">

    <img src="http://www.gravatar.com/avatar/1fe25dce85a62c717339dfd864b16a92.png?s=160" alt="..." class="img-circle">
    <div class="caption">
        <ul class="list-unstyled">
            <li><a href="https://github.com/{{ site.me.github }}" target="_blank"><i class="fa fa-github"></i> Gihub</a></li>
            <li><a href="http://twitter.com/{{ site.me.twitter }}" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
            <li><a href="http://www.linkedin.com/in/{{ site.me.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i> Linkedin</a></li>
            <li><a href="http://instagram.com/{{ site.me.instagram }}" target="_blank"><i class="fa fa-instagram"></i> Instagram</a></li>
        </ul>
    </div>
</div>
