<div class="small-bio text-center well well-sm">

    <img src="http://www.gravatar.com/avatar/{{ site.me.gravatar }}.png?s=180" class="img-thumbnail" alt="Ismael Ambrosi"/>

    <div class="caption">
        <h3>Ismael Ambrosi</h3>

        <small>
            {{ site.data.t[page.lang].bio }}
        </small>

        <ul class="list-inline">
            {% for link in site.data.social %}
            <li>
                <a class="btn btn-link" href="{{link.href}}" title="{{link.title}}">
                    <i class="fa fa-{{ link.type }}"></i>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
