---
layout: default
---

<div class="row">
    <div class="col-md-9 col-sm-8 col-xs-6">
        {% if page.date %}
        <i class="fa fa-calendar"></i>
        {{ page.date | date_to_string }}
        {% endif %}
    </div>

    {% assign posts=site.posts | where:"name", page.name | sort: 'path' %}
    {% if posts.size > 1 %}
    <div class="col-md-3 col-sm-4 col-xs-6 text-right">
        <div class="btn-group" role="group">
            {% for post in posts %}
            {% if post.lang != page.lang %}
            <a href="{{ post.url }}">{{ site.data.t[post.lang].post_lang_version }}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

<div class="post">
{{ content }}
</div>

<hr>

<div class="alert alert-info text-center" role="alert">
    <i class="fa fa-info-circle"></i>

    {% capture edit_link %}https://github.com/{{ site.me.github }}/iambrosi.github.io/edit/master/_posts/{{ page.lang }}/{{ page.url | remove_first:'/blog/' | replace_first:'/','-' | replace_first:'/','-' | replace_first:'/','-' | remove:'/' }}.md{% endcapture %}

    {% if page.lang == 'en' %}
    If you found a typo, you can <a href="{{ edit_link }}" class="alert-link"> fork and edit this article</a>. I will be very grateful.
    {% else %}
    Si has encontrado un error, puedes <a href="{{ edit_link }}" class="alert-link"> hacer un fork y editar este artículo</a>. Te estaré muy agradecido.
    {% endif %}
</div>

<!-- DISQUS -->
<div id="disqus_thread"></div>
<script type="text/javascript">
var disqus_shortname = 'iambrosi-me';
(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
